In [3]:
pip install pandas numpy scipy

Requirement already satisfied: pandas in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: numpy in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (2.4.0)
Collecting scipy
  Downloading scipy-1.16.3-cp311-cp311-macosx_14_0_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading scipy-1.16.3-cp311-cp311-macosx_14_0_x86_64.whl (23.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 3.5 MB/s  0:00:06m0:00:0100:01
Installing collected packages: scipy
Successfully installed scipy-1.16.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import ast

df = pd.read_csv("/Users/longquanwen0813/Downloads/all.tsv", sep="\t")

In [6]:
df.columns

Index(['Image', 'timel_ids', 'timel_labels', 'timel_ids_list',
       'timel_labels_list'],
      dtype='object')

In [7]:
df["timel_labels_list"] = df["timel_labels_list"].apply(ast.literal_eval)

In [8]:
df["num_labels"] = df["timel_labels_list"].apply(len)

In [9]:
count_by_num = df["num_labels"].value_counts().sort_index()
count_by_num

num_labels
1     214
2     206
3     275
4     368
5     495
6     555
7     579
8     619
9     628
10    603
11    548
12    519
13    462
14    408
15    387
16    347
17    271
18    272
19    224
20    171
21    142
22    117
23     99
24     81
25     77
26     61
27     49
28     48
29     35
30     32
31     37
32     17
33     20
34     17
35     20
36     15
37     11
38     14
39     11
40      8
41     10
42     11
43     10
44      3
45      4
46      3
47      5
48      3
49      3
50      4
51      4
52      2
53      2
54      1
57      1
58      1
59      1
61      1
80      1
Name: count, dtype: int64

In [10]:
ratio_by_num = count_by_num / count_by_num.sum() * 100

In [11]:
stats = pd.DataFrame({
    "num_labels": count_by_num.index,
    "num_images": count_by_num.values,
    "ratio_percent": ratio_by_num.values
})

stats

    num_labels  num_images  ratio_percent
0            1         214       2.343408
1            2         206       2.255804
2            3         275       3.011389
3            4         368       4.029785
4            5         495       5.420499
5            6         555       6.077530
6            7         579       6.340342
7            8         619       6.778362
8            9         628       6.876916
9           10         603       6.603154
10          11         548       6.000876
11          12         519       5.683311
12          13         462       5.059133
13          14         408       4.467806
14          15         387       4.237845
15          16         347       3.799825
16          17         271       2.967587
17          18         272       2.978537
18          19         224       2.452913
19          20         171       1.872536
20          21         142       1.554972
21          22         117       1.281209
22          23          99       1.084100
23          24          81       0.886991
24          25          77       0.843189
25          26          61       0.667981
26          27          49       0.536575
27          28          48       0.525624
28          29          35       0.383268
29          30          32       0.350416
30          31          37       0.405169
31          32          17       0.186159
32          33          20       0.219010
33          34          17       0.186159
34          35          20       0.219010
35          36          15       0.164258
36          37          11       0.120456
37          38          14       0.153307
38          39          11       0.120456
39          40           8       0.087604
40          41          10       0.109505
41          42          11       0.120456
42          43          10       0.109505
43          44           3       0.032852
44          45           4       0.043802
45          46           3       0.032852
46          47           5       0.054753
47          48           3       0.032852
48          49           3       0.032852
49          50           4       0.043802
50          51           4       0.043802
51          52           2       0.021901
52          53           2       0.021901
53          54           1       0.010951
54          57           1       0.010951
55          58           1       0.010951
56          59           1       0.010951
57          61           1       0.010951
58          80           1       0.010951