In [3]:
pip install pandas numpy scipy

Requirement already satisfied: pandas in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: numpy in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (2.4.0)
Collecting scipy
  Downloading scipy-1.16.3-cp311-cp311-macosx_14_0_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /Users/longquanwen0813/miniconda3/envs/hackathon/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading scipy-1.16.3-cp311-cp311-macosx_14_0_x86_64.whl (23.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 3.5 MB/s  0:00:06m0:00:0100:01
Installing collected packages: scipy
Successfully installed scipy-1.16.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

path = "/Users/longquanwen0813/Downloads/mandragore_nh_global_kw_grouped.csv"

df = pd.read_csv(path, sep=None, engine="python")  # 自动检测分隔符
df.head()

,img_url,folio,caption,texte,manuscrit,artiste,lieu,date,ms_folio,mots_cles
0,https://gallica.bnf.fr/iiif/ark:/12148/btv1b84...,f. 261r,Faune : vipère,"Al-Qazwînî, 'Adjâ'ib al-Makhlûqât",Arabe 2178,Artiste non identifié,Origine inconnue,Hégire 1176 = 1762-1763,Arabe 2178:f. 261r,vipere
1,https://gallica.bnf.fr/iiif/ark:/12148/btv1b84...,p. 25,Faune : vipère,"Galien (pseudo), Thériaque, traduction anonyme",Arabe 2964,Artiste non identifié,Origine inconnue,Hégire 595 = 1198-1199,Arabe 2964:p. 25,vipere
2,Image non disponible,rouleau,Bible,Prières magiques,Arménien 102,Artiste non identifié,Origine inconnue,XVIIIe siècle,Arménien 102:rouleau,ane | arbre (non identifie) | mouton | vipere
3,https://gallica.bnf.fr/iiif/ark:/12148/btv1b52...,f. 316v,Faune : vipère,"Barthélemy l'Anglais, De proprietatibus rerum,...",Français 22532,Artiste non identifié,Paris (France),XVe siècle (3e quart),Français 22532:f. 316v,vipere
4,https://gallica.bnf.fr/iiif/ark:/12148/btv1b52...,f. 199r,Faune : vipère et murène se cherchant,"Johannes Damascenus (s.), Sacra parallela (rec...",Grec 923,Artiste non identifié,Constantinople/Istanbul (Turquie),IXe siècle (2e moitié),Grec 923:f. 199r,crabe | huitre | murene | oursin | vipere

In [5]:
df.columns

Index(['img_url', 'folio', 'caption', 'texte', 'manuscrit', 'artiste', 'lieu',
       'date', 'ms_folio', 'mots_cles'],
      dtype='object')

In [7]:
import pandas as pd

# 如果 mots_cles 可能有空值 / 多余空格，这个写法最稳
df["mots_cles_list"] = (
    df["mots_cles"]
    .fillna("")                              # NaN -> ""
    .astype(str)
    .str.split("|")                          # 用 | 切分
    .apply(lambda xs: [x.strip() for x in xs if x.strip()])  # 去空白+去空元素
)

df["num_labels"] = df["mots_cles_list"].apply(len)

In [8]:
count_by_num = df["num_labels"].value_counts().sort_index()
ratio_by_num = count_by_num / count_by_num.sum()

stats = pd.DataFrame({
    "num_labels": count_by_num.index,
    "num_images": count_by_num.values,
    "proportion": ratio_by_num.values
})

stats

    num_labels  num_images  proportion
0            0           2    0.000036
1            1       40739    0.723786
2            2        8300    0.147461
3            3        3133    0.055662
4            4        1625    0.028870
5            5        1010    0.017944
6            6         591    0.010500
7            7         300    0.005330
8            8         196    0.003482
9            9         117    0.002079
10          10          96    0.001706
11          11          46    0.000817
12          12          33    0.000586
13          13          27    0.000480
14          14          11    0.000195
15          15           9    0.000160
16          16          12    0.000213
17          17          11    0.000195
18          18           5    0.000089
19          19           5    0.000089
20          20           6    0.000107
21          21           2    0.000036
22          22           1    0.000018
23          23           3    0.000053
24          25           1    0.000018
25          28           2    0.000036
26          29           1    0.000018
27          32           2    0.000036

In [11]:
stats["percent"] = (stats["proportion"] * 100).round(2)
stats

    num_labels  num_images  proportion  percent
0            0           2    0.000036     0.00
1            1       40739    0.723786    72.38
2            2        8300    0.147461    14.75
3            3        3133    0.055662     5.57
4            4        1625    0.028870     2.89
5            5        1010    0.017944     1.79
6            6         591    0.010500     1.05
7            7         300    0.005330     0.53
8            8         196    0.003482     0.35
9            9         117    0.002079     0.21
10          10          96    0.001706     0.17
11          11          46    0.000817     0.08
12          12          33    0.000586     0.06
13          13          27    0.000480     0.05
14          14          11    0.000195     0.02
15          15           9    0.000160     0.02
16          16          12    0.000213     0.02
17          17          11    0.000195     0.02
18          18           5    0.000089     0.01
19          19           5    0.000089     0.01
20          20           6    0.000107     0.01
21          21           2    0.000036     0.00
22          22           1    0.000018     0.00
23          23           3    0.000053     0.01
24          25           1    0.000018     0.00
25          28           2    0.000036     0.00
26          29           1    0.000018     0.00
27          32           2    0.000036     0.00

In [16]:
q1, q2 = df["num_labels"].quantile([1/3, 2/3])
q1, q2

(1.0, 1.0)

In [14]:
def assign_group_range(n):
    if 0 <= n <= 10:
        return "G1_low"
    elif n <= 21:
        return "G2_mid"
    else:
        return "G3_high"

df["label_group"] = df["num_labels"].apply(assign_group_range)

In [15]:
df.groupby("label_group")["num_labels"].agg(["min", "max", "count"])

             min  max  count
label_group
G1_low         0   10  56109
G2_mid        11   21    167
G3_high       22   32     10